.form__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #283645;
}

.form__name-label {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #d22856;
}

.form__name-input {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #283645;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
}

.form__legend {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #d22856;
}

.form__input {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #283645;
}

.form__emotions-text-area {
  height: 197px;
  width: 276px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
}

.form__submit-button {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  height: 59px;
  width: 276px;
  border: 2px solid #2aab6d;
  border-radius: 1px;
}

.form__hint {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
