.post__header {
font-size: 14px;
font-weight: 400;
line-height: 30px;
color: #283645;
}
.post__submit {
font-size: 18px;
font-weight: 700;
line-height: 18px;
color: #D22856;
border: 3px solid #D22856;
border-radius: 30px;
}
.post__cancel {
font-size: 18px;
font-weight: 700;
line-height: 18px;
color: #283645;
border: 3px solid #283645;
border-radius: 30px;
list-style: none;
}
